@charset "utf-8";

*{margin: 0;
	padding:0;
	list-style-type:none;
	text-decoration: none;
  }
 
/*　円形りすと
https://codepen.io/KawaMond/pen/LYVmYEM
------------------------------*/
 
ul.discList, 
ol.numList{
	margin-bottom: 20px;
}
ul.discList li, 
ol.numList li{
	margin-left: 30px;
	margin-bottom: 8px;
}
ul.discList li::before{
	content: ""; 
	display: inline-block;
	margin-left: -25px; 
	margin-right: 15px; 
	width: 12px; 
	height: 12px; 
	background: #eee; 
	border-radius: 6px;
}

ol.numList{
	counter-reset: item;/*連番つける*/
}

ol.numList li::before{
	counter-increment: item;
	content: counter(item)".";
	display: inline-block;
	margin-right: 10px;
	color: #ddd7dc;
	font-size: 1.3em;
	font-family: 'Cinzel',"游明朝","ヒラギノ明朝 ProN",Hiragino Mincho ProN,serif;
	margin-left: -1em;
}

@media screen and (max-width: 660px){
	ul.discList li::before{
		width: 9px;
		height: 9px;
		margin-left: -22px;
		margin-right: 12px;
	}
}







.grayArea, .lineArea, .dotArea, .colorArea{
	margin: 20px auto 30px;
	padding: 20px 25px 15px;
	box-sizing: border-box;
}
.grayArea{
	background: #f6f6f6;
}
.colorArea{ background: #f7f1f6; }
.lineArea{
	border: 1px solid #ddd;
}
.dotArea{
	border: 3px dotted #ddd;
}