@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
html{ scroll-behavior: smooth; }
b{ font-weight: bold; }
s{ text-decoration: line-through; }





!important

@media screen and (max-width: 660px){}
@media screen and (max-width: 780px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 1024px){}

@media screen and (min-width: 660px) and (max-width: 1024px){}

@media screen and (min-width: 660.1px){}
@media screen and (min-width: 780.1px){}
@media screen and (min-width: 800px){}
@media screen and (min-width: 1025px){}
@media screen and (min-width: 1200px){}


